* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif, "Arial", "Helvetica", "Verdana", "Russo One";
  font-weight: 400;
  line-height: 1;
  color: #adb5bd;
  background: linear-gradient(135deg, #92effd 60%, #4e65ff);
  /* height: 100vh;   */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 100%;
  margin: 3.2rem auto;
  padding: 1.6rem;
  /* display: flex;
  flex-direction: column;
  gap: 1.2rem; */
}

.label-input-group {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-bottom: 1.2rem;
}

label {
  color: black;
  font-weight: 700;
  font-size: 2.4rem;
  /* Fixed width for labels */
}

input,
textarea {
  flex: 1; /* Take up remaining space */
  padding: 0.4rem;
  font-size: 1.8rem;
  /* box-shadow: 3px 3px 5px grey; */
  box-shadow:
    inset 10px 10px 20px #e0e0e0,
    inset -10px -10px 20px #ffffff;
}

/* #react-select-3-input{

  color:transparent !important;
  display:none
 
} */
.countrySelect:focus {  outline: 2px solid #d71ef7;}
.countrySelect{
  box-shadow: none;

  flex: 1; /* Take up remaining space */
  padding: 0.4rem;
  font-size: 1.8rem;
  border: none;
}

input {
  border-radius: 9px;
  /* box-shadow:0 0 15px 4px rgba(0,0,0,0.06); */
  /* font-family: inherit; */
  border: none;
}

/* input[type=text]:focus,input[type=password]:focus,textarea:focus,input[type=date]:focus,input[type=email]:focus,select:focus{
  outline: 2px solid #d71ef7
} */

h1 {
  text-align: center;
  margin-top: 2.4rem;
  font-size: 4.4rem;
  margin-bottom: 4.8rem;
  font-weight: 700;
  color: #45260a;
  text-transform: uppercase;
  font-family: "Russo One";
}

h2 {
  text-align: center;
  font-size: 3rem;
  color: #495057;
  font-weight: 600;
}

textarea {
  resize: none;
  padding: 0.8rem;
  max-width: 100%;
}

/* input[type="radio"]{
  margin-right: 2rem;
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  outline: 2px solid crimson;
  outline-offset: 2px;
  border-radius: 50%;
}
input[type="radio"]:checked {
  background: red;
} */

input[type="radio"],
input[type="checkbox"] {
  width: 3rem;
  height: 3rem;
  accent-color: green;
  /* outline: none; */
  box-shadow: none;
}

input[type="radio"]:focus {
  /* box-shadow: 0 0 3pt 2pt cornflowerblue; */
  /* box-shadow: 0 0 0 1pt grey; */
  /* box-shadow: 0px 0px 0px 1px #fff inset; */
  outline: none;

  box-shadow: 0 0 0 1px hsla(220, 100%, 50%, 80%);
}

#gender {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

#gender label {
  display: flex;
  align-items: center;
  gap: 1.2rem; /* Adjust margin as needed */
}

#checkbox {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

#checkbox label {
  display: flex;
  align-items: center;
  gap: 1.2rem; /* Adjust margin as needed */
}

.btn-container {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.submit {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  border-radius: 0.12rem;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #42cc8c;
  cursor: pointer;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.15s;
  border: 0.1rem solid #000000;
}
.submit:hover,
.submit:active {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
}

.reset {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  border-radius: 0.12rem;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #42cc8c;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.15s;
  border: 0.1rem solid #000000;
  cursor: pointer;
}

.reset:hover,
.reset:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
}

*:focus {
  /* outline: none; */
  /* outline: 4px dotted #e67e22; */
  /* outline-offset: 8px; */
  /* box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5); */
  outline: 2px solid #d71ef7;
}

.error-msg {
  color: #cc0033;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
}
/* Tooltip Styling */
.error-container {
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  display: inline;
  color: #cc0033;
  float: left;
  font-weight: bold;
  line-height: 24px;
  position: relative;
  padding: 7px 11px 4px;
  margin-left: 17px;

  &:after,
  &:before {
    content: "";
    border: 7px solid transparent;
    position: absolute;
    top: 11px;
  }
  &:after {
    border-right: 7px solid #fce4e4;
    left: -14px;
  }
  &:before {
    border-right: 7px solid #fcc2c3;
    left: -15px;
  }
}

.error.label-input-group label {
  color: #cc0033;
  font-weight: bold;
}

.error.label-input-group input {
  border: 2px solid #cc0033;
  line-height: 37px;
  outline: none;
}

.error.label-input-group textarea {
  border: 2px solid #cc0033;
  line-height: 37px;
  outline: none;
}


.error.label-input-group .status {
  display: none;
}

.error.label-input-group .error-container {
  display: inline;
}
