* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif, "Arial", "Helvetica", "Verdana", "Russo One";
  font-weight: 400;
  line-height: 1;
  color: #adb5bd;
  background: linear-gradient(135deg, #92EFFD 60%, #4E65FF);
    height: 100vh;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 100%;
  margin: 3.2rem auto;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.label-input-group {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

label {
  color: black;
  font-weight: 700;
  font-size: 2.4rem;
  /* Fixed width for labels */
}

input,
select,
textarea {
  flex: 1; /* Take up remaining space */
  padding: 0.4rem;
  font-size: 1.8rem;
}

input {
  border-radius: 9px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border: none;
}

input[type=text]:focus,input[type=password]:focus,textarea:focus,input[type=date]:focus,input[type=email]:focus,select:focus{
  outline: 2px solid #d71ef7
}

h1 {
  text-align: center;
  margin-top: 2.4rem;
  font-size: 4.4rem;
  margin-bottom: 4.8rem;
  font-weight: 700;
  color: #45260a;
  text-transform: uppercase;
  font-family: "Russo One";
}

h2 {
  text-align: center;
  font-size: 3rem;
  color: #495057;
  font-weight: 600;
}

textarea {

resize: none; 
padding: 0.8rem; 
}

/* input[type="radio"]{
  margin-right: 2rem;
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  outline: 2px solid crimson;
  outline-offset: 2px;
  border-radius: 50%;
}
input[type="radio"]:checked {
  background: red;
} */

input[type="radio"],
input[type="checkbox"] {
  width: 3rem;
  height: 3rem;
  accent-color: green;
}