* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid #345b63;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif, "Arial", "Helvetica", "Verdana", "Russo One";
  font-weight: 400;
  line-height: 1;
  color: #adb5bd;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-top: 2.4rem;
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #fffafa;
  text-transform: uppercase;

  font-family: "Russo One";
}

.ss-h1 {
  font-family: "Times New Roman", Times, serif;
  color: #e03131;
}

h2 {
  text-align: center;
  font-size: 3rem;
  color: #fffafa;
  font-weight: 600;
}

.ss-h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

h3 {
  text-align: center;
  font-size: 1.8rem;
  color: #495057;
  line-height: 3rem;
  font-style: italic;
}

h4 {
  text-align: center;
  text-align: center;
  font-size: 1.6rem;
  color: #495057;
  margin-bottom: 2rem;
  font-style: italic;
}

h4 span {
  text-decoration: underline;
  font-weight: 700;
}

.form {
  max-width: 120rem;
  margin: 2rem 2rem;
  padding: 1.6rem;
}

.label-input-group {
  display: flex;
  gap: 1.6rem;
  align-items: center;

  margin-bottom: 1.2rem;
}

label {
  color: #fffaf0;
  font-weight: 900;
  font-size: 2.4rem;
  font-family: "Rubik Bubles";
}

input,
textarea {
  flex: 1;
  padding: 0.4rem;
  font-size: 1.4rem;
  box-shadow: inset 10px 10px 20px #e0e0e0, inset -10px -10px 20px #ffffff;
  background-color: #f5f5f5;
}

textarea {
  resize: none;
  padding: 0.8rem;
  max-width: 100%;
}

input {
  border-radius: 9px;
  border: none;
}

.countrySelect {
  display: inline;
  flex: 1;
  padding: 0.4rem;
  font-size: 1rem;

  color: #a61e4d;
}

input[type="radio"] {
  width: 2rem;
  height: 2rem;
  accent-color: green;
  box-shadow: none;
}

input[type="radio"]:focus {
  outline: 3px ridge #345b63;
}

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  accent-color: green;
  box-shadow: none;
}

input[type="checkbox"]:focus {
  outline: 4px ridge #345b63;
}

.phone {
  display: inline;
  flex: 1;
  padding: 0.4rem;
}

.phone:focus {
  outline: 4px ridge #345b63;
}

#gender {
  display: flex;
  gap: 4.2rem;
  align-items: center;
  justify-content: evenly;
}

#gender label {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-weight: bold;
  justify-content: evenly;
}

#checkbox {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

#checkbox label {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.success-container {
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-successsubmit {
  margin-top: 3rem;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  border-radius: 0.12rem;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #42cc8c;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.15s;
  border: 0.1rem solid #000000;
  cursor: pointer;
}

.btn-successsubmit:hover,
.btn-successsubmit:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
}

.btn-container {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.submit {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  border-radius: 0.12rem;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #4caf50;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.15s;
  border: 0.1rem solid #4caf50;
}
.submit:hover,
.submit:active {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
}

.reset {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  border-radius: 0.12rem;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #4caf50;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.15s;
  border: 0.1rem solid #4caf50;
  cursor: pointer;
}

.reset:hover,
.reset:active {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
}

/* ERROR MSG */

.error-msg {
  color: #d32f2f;
  line-height: 1.4;
  display: block;
}

.error-container {
  background-color: #ffebee;
  border: 1px solid #ffcdd2;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  margin-top: 8px;
  color: #d32f2f;
  font-weight: normal;
  max-width: 100%;
}

.error.label-input-group label {
  color: #d32f2f;
}

.error.label-input-group input,
.error.label-input-group textarea {
  border: 1px solid #d32f2f;
  background-color: #ffebee;
}

.error.label-input-group input:focus,
.error.label-input-group textarea:focus {
  border: 2px solid #d32f2f;
  outline: none;
}

.error.label-input-group .error-container {
  display: flex;
}

/* styles.css */
@media (max-width: 24em) {
  label {
    font-size: 1.2rem;
  }

  h1 {
    margin-top: 1.4rem;
    font-size: 2.2rem;
    margin-bottom: 2.4rem;
  }

  h3,
  h4 {
    text-align: center;
    font-size: 1.4rem;
    line-height: 3rem;
  }

  h2 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
  }

  .main-div {
    max-width: 100%;
    margin-left: 1.8rem;
  }

  .form {
    max-width: 30rem;
    margin: 1rem;
    padding: 1rem;
  }

  .submit {
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
  }

  .reset {
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
  }
}
